/* Typography Configuration */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    font-family: "Archivo", serif;
}

body {
    transition: background-color 300ms ease, color 300ms ease;
}

.font-majormono {
    font-family: "Major Mono Display", serif;
}

:root {
    /* Color Variables */
    --white: #ffffff;
    --black: #000000;

    --primary-50: #f5f0ff;
    --primary-100: #ede4ff;
    --primary-200: #ddcdff;
    --primary-300: #c6a6ff;
    --primary-400: #ac73ff;
    --primary-500: #963bff;
    --primary-600: #8f14ff;
    --primary-700: #8300ff;
    --primary-800: #6e01d6;
    --primary-900: #5b03af;
    --primary-950: #380077;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    /* Font Sizes */
    --fs-small: 0.75rem;
    --fs-base: 1rem;
    /* --fs-medium: clamp(1.25rem, 1vw + 1rem, 2rem); */
    /* --fs-large: clamp(2.5rem, 3.5vw + 1rem, 10rem); */
    --fs-xl: clamp(2rem, 6.5vw + 1rem, 15rem);

    /* Logo Sizing */
    --s: 4rem;
}

.dark-mode {
    --white: #000000;
    --black: #ffffff;

    --primary-950: #f5f0ff;
    --primary-900: #ede4ff;
    --primary-800: #ddcdff;
    --primary-700: #c6a6ff;
    --primary-600: #ac73ff;
    --primary-500: #963bff;
    --primary-400: #8f14ff;
    --primary-300: #8300ff;
    --primary-200: #6e01d6;
    --primary-100: #5b03af;
    --primary-50: #380077;

    --gray-950: #f9fafb;
    --gray-900: #f3f4f6;
    --gray-800: #e5e7eb;
    --gray-700: #d1d5db;
    --gray-600: #9ca3af;
    --gray-500: #6b7280;
    --gray-400: #4b5563;
    --gray-300: #374151;
    --gray-200: #1f2937;
    --gray-100: #111827;
    --gray-50: #030712;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.custom-container {
    width: 90%;
    /* Container will take 90% of the screen width */
}

.talk {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primary-400);
}

.resume-btn:hover {
    border-color: var(--primary-600);
    transition: all 300ms ease;
    .btn-text {
        color: var(--primary-900);
        transition: all 300ms ease;
    }

    .btn-svg {
        stroke: var(--primary-50);
        transition: all 300ms ease;
    }

    .btn-icon {
        background: var(--primary-900);
        transition: all 300ms ease;
    }
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
}