/* Typography Configuration */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
  font-family: "Archivo", serif;
}

body {
  transition: background-color 300ms ease, color 300ms ease;
}

.font-majormono {
  font-family: "Major Mono Display", serif;
}

:root {
  /* Color Variables */
  --white: #ffffff;
  --black: #000000;

  --primary-50: #f5f0ff;
  --primary-100: #ede4ff;
  --primary-200: #ddcdff;
  --primary-300: #c6a6ff;
  --primary-400: #ac73ff;
  --primary-500: #963bff;
  --primary-600: #8f14ff;
  --primary-700: #8300ff;
  --primary-800: #6e01d6;
  --primary-900: #5b03af;
  --primary-950: #380077;

  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #1a1a1e;
  --zinc-950: #09090b;

  --pse-red1: #fa5b4f;
  --pse-red2: #bd182f;
  --pse-red3: #F12848;
  --pse-red4: #E53935;
  --corona-green: #7ACF9C;
  --wisdom-blue: #29AAE2;

  --text-dark: var(--zinc-950);
  --text-light: var(--zinc-50);
  --text-secondary: var(--zinc-600);

  /* Font Sizes */
  --fs-xl: clamp(2rem, 6.5vw + 1rem, 15rem);

  /* Logo Sizing */
  --s: 4rem;
  --reg: 2rem;

  /* blend mode */
  --blendmode: multiply;
}

.dark-mode {
  --white: #000000;
  --black: #ffffff;

  --primary-950: #f5f0ff;
  --primary-900: #ede4ff;
  --primary-800: #ddcdff;
  --primary-700: #c6a6ff;
  --primary-600: #ac73ff;
  --primary-500: #963bff;
  --primary-400: #8f14ff;
  --primary-300: #8300ff;
  --primary-200: #6e01d6;
  --primary-100: #5b03af;
  --primary-50: #380077;

  --zinc-950: #fafafa;
  --zinc-900: #f4f4f5;
  --zinc-800: #e4e4e7;
  --zinc-700: #d4d4d8;
  --zinc-600: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-400: #52525b;
  --zinc-300: #3f3f46;
  --zinc-200: #27272a;
  --zinc-100: #1a1a1e;
  --zinc-50: #09090b;

  --text-dark: var(--zinc-950);
  --text-light: var(--zinc-50);
  --text-secondary: var(--zinc-600);

  --pse-red1: #ff7469;
  --pse-red2: #f22e49;
  --pse-red3: #F12848;
  --pse-red4: #E53935;
  --corona-green: #7ACF9C;
  --wisdom-blue: #29AAE2;

  --blendmode: screen;
}

.custom-container {
  width: 90%;
  /* Container will take 90% of the screen width */
}

/* Transparent fill in 'Talk' */
.talk {
  -webkit-text-stroke-width: 2px;
  color: #000;
  /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0);
}

.talk-home {
  -webkit-text-stroke-color: var(--primary-600);
}

.talk-pse {
  -webkit-text-stroke-color: var(--pse-red4);
}

.talk-corona {
  -webkit-text-stroke-color: var(--corona-green);
}

.talk-worldwise {
  -webkit-text-stroke-color: var(--wisdom-blue);
}

/* Frosted Glass Card styles */
.project-card {
  /* background-color: #1a1a1e; */
  position: relative;
  overflow: hidden;
}

/* Border */
.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(160deg, color-mix(in srgb, var(--zinc-200) 20%, transparent), color-mix(in srgb, var(--zinc-500) 20%, transparent)) border-box;
  -webkit-backdrop-filter: blur(12px) brightness(140%) saturate(140%);
  backdrop-filter: blur(12px) brightness(140%) saturate(140%);
  mask: linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

/* Backdrop */
.project-card::after {
  content: "";
  position: absolute;
  left: -25%;
  top: -50%;
  z-index: -1;
  height: 200%;
  width: 150%;
  backdrop-filter: blur(12px) brightness(96%) saturate(120%);
  background-color: color-mix(in srgb, var(--zinc-50) 10%, transparent);
  border-radius: inherit;
}

.project-card svg path {
  transition: fill 300ms ease-in-out;
}

/* animate gradient stops instead of fill */
.wisdom-stop-1,
.wisdom-stop-2,
.wisdom-stop-3 {
  transition: stop-color 300ms ease-in-out;
}

.project-card:hover .wisdom-stop-1 {
  stop-color: var(--wisdom-blue);
}

.project-card:hover .wisdom-stop-2 {
  stop-color: #3AF2CA;
}

.project-card:hover .wisdom-stop-3 {
  stop-color: #FFFFFF;
}

.project-card:hover {
  .card-logo-pse {
    fill: var(--pse-red4);
  }

  .card-logo-corona1 {
    fill: var(--corona-green);
  }

  .card-logo-corona2 {
    fill: var(--pse-red1);
  }

  .card-logo-corona3 {
    fill: var(--primary-400);
  }

  .card-logo-dark {
    fill: var(--zinc-950);
  }
}

/* Frosted Glass Button styles */
.button {
  border-radius: 999px;
  position: relative;
  overflow: hidden;
}

.button .text {
  transition: all 300ms ease-in-out;
}

/* Border */
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(160deg, color-mix(in srgb, var(--zinc-200) 20%, transparent), color-mix(in srgb, var(--zinc-500) 20%, transparent)) border-box;
  -webkit-backdrop-filter: blur(12px) brightness(140%) saturate(140%);
  backdrop-filter: blur(12px) brightness(140%) saturate(140%);
  mask: linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

/* Backdrop */
.button::after {
  content: "";
  position: absolute;
  left: -25%;
  top: -50%;
  z-index: -1;
  height: 200%;
  width: 150%;
  backdrop-filter: blur(12px) brightness(96%) saturate(120%);
  background-color: color-mix(in srgb, var(--zinc-50) 10%, transparent);
  border-radius: inherit;
}

.button-icon::before {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: -1;
  height: 64px;
  width: 64px;
  backdrop-filter: blur(2px) brightness(140%) saturate(120%);
  background-color: color-mix(in srgb, var(--primary-200) 520%, transparent);
  border-radius: inherit;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width: 48rem) {
  .logo {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.inverse {
  background-color: var(--zinc-100);
  mix-blend-mode: var(--blendmode);
}

.full-bleed-inverse {
  box-shadow: 0 0 0 100vmax var(--zinc-100);
  clip-path: inset(0 -100vmax);
  mix-blend-mode: var(--blendmode);
}

.full-bleed-inverse-pse {
  box-shadow: 0 0 0 100vmax var(--pse-red4);
  clip-path: inset(0 -100vmax);
}

.full-bleed-inverse-corona {
  box-shadow: 0 0 0 100vmax var(--corona-green);
  clip-path: inset(0 -100vmax);
}

.full-bleed-inverse-worldwise {
  box-shadow: 0 0 0 100vmax var(--wisdom-blue);
  clip-path: inset(0 -100vmax);
}

.blend {
  mix-blend-mode: var(--blendmode);
}

/* Mobile Navigation Button */
.target-burger {
  width: 40px;
  height: 40px;

  &.toggled {
    ul.buns {
      li.bun {
        -webkit-transform: rotate(45deg) translateZ(0);
        transform: rotate(45deg) translateZ(0);

        &:last-child {
          -webkit-transform: rotate(-45deg) translateZ(0);
          transform: rotate(-45deg) translateZ(0);
        }
      }
    }
  }

  ul.buns {
    width: 20px;
    height: 20px;
    list-style: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    li.bun {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: var(--text-dark);
      top: 50%;
      -webkit-transform: translateY(-3.75px) translateZ(0);
      transform: translateY(-3.75px) translateZ(0);

      &:last-child {
        -webkit-transform: translateY(3.75px) translateZ(0);
        transform: translateY(3.75px) translateZ(0);
      }
    }
  }
}

nav.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  z-index: 2;

  &.toggled {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  pointer-events: none;
}

.bar {
  width: 10vw;
  height: 105vh;
  background-color: var(--primary-300);
  pointer-events: none;
}

.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 10000;
  padding: 5vw 5vh;
  pointer-events: none;
}

.gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.canvas-mask {
  background-image: linear-gradient(to top,
      var(--zinc-50),
      color-mix(in srgb, var(--zinc-50) 0%, transparent));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.theme-toggle svg {
  transition: fill 0.3s ease;
}

.theme-toggle .iconDark {
  fill: var(--text-dark);
}