.carousel {
    /* margin: 100px auto; */
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    gap:8px;
    animation: spin 80s infinite linear;
    padding-right: 8px;
}

/* Tablet and up */
@media (min-width: 768px) {
  .group {
    gap: 24px;
    padding-right: 24px;
  }
}

.card {
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    border: 2px solid var(--zinc-400);
}
@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

.group2 {
    gap: 8px;
    animation: spin 50s infinite linear;
    padding-right: 8px;
}

/* Tablet and up */
@media (min-width: 768px) {
  .group2 {
    gap: 24px;
    padding-right: 24px;
  }
}

.card2 {
    justify-content: center;
    overflow: hidden;
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

@media screen {
    
}