.reviewWrapper {
    max-width: 1920px;
    width: 100%;
    position: relative;
}

.left, .right {
    height: 48px;
    width: 48px;
    display: flex;;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.arrow-btn .btn-svg {
    fill: var(--text-dark);
    transition: all 300ms ease;
}

.arrow-btn:hover {
  border-color: var(--primary-600);
  transition: all 300ms ease;

  .btn-svg {
    fill: var(--primary-50);
    transition: all 300ms ease;
  }
}

.reviewWrapper .reviewCarousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 24px);
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.reviewCarousel::-webkit-scrollbar {
    display: none;
}

.reviewCarousel.no-transition {
    scroll-behavior: auto;
}

.reviewCarousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.reviewCarousel.dragging .reviewCard {
    cursor: grab;
    user-select: none;
    /* pointer-events: none; */
}

.reviewCarousel .reviewCard {
    scroll-snap-align: start;
    list-style: none;
    background: var(--zinc-50);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

@media screen and (max-width: 900px) {
    .reviewWrapper .reviewCarousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .reviewWrapper .reviewCarousel {
        grid-auto-columns: 100%;
    }
}